---
// 引入导航组件, 用于页面间导航, 否则每个页面都需要重复定义导航链接, 组件在src/components/Navigation.astro文件中
import BaseLayout from "../layouts/BaseLayout.astro";
// import Navigation from "../components/Navigation.astro";

// JSX (JavaScript XML)
// 变量的创建和使用
// 普通变量
const pageTitle = "关于";
// 对象变量
const identity = {
	name: "lrns",
	occupation: "学徒",
	hobbies: ["美食", "美女", "美梦"],
};
// 数组变量
const skills = ["HTML", "CSS", "JS", "Vue", "React", "Astro", "Writing Docs"];
// 条件渲染
let isLoading = true;

// CSS样式变量
let skillColor = "blue";
let fontWeight = "bold";
let textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>个人信息</h2>
	<p>姓名: {identity.name}</p>
	<p>职业: {identity.occupation}</p>
	<p>爱好:</p>
	<ul>
		{identity.hobbies.map((hobby) => <li>{hobby}</li>)}
	</ul>
	<p>最喜欢{identity.hobbies[2]}</p>
	<h2>技能列表</h2>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	<h2>{isLoading ? "加载中..." : "加载完成!"}</h2>
	<h2>{isLoading && "正在加载，请稍候..."}</h2>
</BaseLayout>