---
import BaseLayout from "./BaseLayout.astro";

// frontmatter属性由使用该布局的Markdown文件传入, 包含文章的元数据, 也就是在Markdown文件顶部定义的YAML数据
const { frontmatter } = Astro.props;
---

<!-- 使用模板套模板的方式把BaseLayout的标准页面套入到页面上 -->
<BaseLayout pageTitle={frontmatter.title}>
    <!-- 下面是文章的公共部分 -->
    <!-- <h1>{frontmatter.title}</h1> -->
    <p>作者: {frontmatter.author}</p>
    <p>发表于: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <div class="tags">
        标签:
        {
            frontmatter.tags.map(tag => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <!-- 插槽, Markdown内容 -->
    <slot />
</BaseLayout>
<style>
    a {
      color: #00539F;
    }
          
    .tags {
        /* 弹性盒模型, 子元素并排显示 */
      display: flex; 
      /* 允许换行 */
      flex-wrap: wrap; 
      /* 使容器水平居中 */
      margin: 0 auto;  
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
</style>